---
export const prerender = true;
import DopytBytov from "../components/DopytBytov";
import NoStaffLayout from "../layouts/NoStaffLayout.astro";
---

<NoStaffLayout
	title="Nové moderné byty vo Veľkom Šariši | Byty Doliny"
	description="Štýlové nové byty vo Veľkom Šariši, pripravené na to, aby ste z nich urobili svoj domov. Objavte moderný komfort v atraktívnom prostredí."
>
	<section class="max-w-screen max-h-full h-full relative font-sans bg-black">
		<DopytBytov client:only />
	</section>
</NoStaffLayout>
