---
export const prerender = true;
import Shadow from "@/components/Shadow.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Nové byty v modernom interiérovom dizajne | Byty Doliny">
	<section class="w-full h-full mx-auto py-10">
		<Shadow stylesh="w-full h-full flex flex-col items-center justify-start gap-5 px-6 py-12">
			<h3 class="text-2xl md:text-3xl font-semibold font-spec">GDPR</h3>
			<p class="font-sans text-xl">
				Je v našom záujme ako prevádzkovateľa osobných údajov (ČECH,
				s.r.o. so sídlom K Surdoku 9, 080 01 Prešov, IČO: 36488712,
				info@bytydoliny.sk – podnety v súvislosti s ochranou osobných
				údajov) chrániť Vaše súkromie. Skôr než prostredníctvom tohto
				webu poskytnete akékoľvek osobné údaje, prečítajte si prosím
				nasledujúce informácie:
				<br /><br />S Vašimi osobnými údajmi sa bude zaobchádzať iba
				spôsobom odpovedajúcim príslušnými ustanoveniami „NARIADENIA
				EURÓPSKEHO PARLAMENTU A RADY (EÚ) 2016/679 z 27. apríla 2016 o
				ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom
				pohybe takýchto údajov“, v texte ďalej len „nariadenie GDPR“ a
				“Zákona č. 18/2018 Z. z. o ochrane osobných údajov a o zmene a
				doplnení niektorých zákonov“. <br /><br />
				Vaše osobné údaje sú uložené v samostatných databázach alebo e-mailových
				schránkach uložených na serveroch nachádzajúcich sa v Slovenskej
				republike a prístupných len povereným oprávneným osobám cez samostatné
				prihlasovacie meno a silné heslo. Tieto dáta sú zálohované na dennej
				báze. <br /><br />
				Medzi príjemcov osobných údajov patria okrem poverených oprávnených
				osôb prevádzkovateľa aj príjemcovia vykonávajúci IT servis/podporu/outsourcing
				a IT development pre prevádzkovateľa. Prevádzkovateľ nezamýšľa prenos
				osobných údajov do tretej krajiny ani medzinárodnej organizácie (ak
				sa zamýšľa, vyžaduje sa identifikácia tretej krajiny/medzinárodnej
				organizácie a identifikácia tzv. primeraných záruk). Poskytnutie
				osobných údajov, ako aj udelenie Vášho súhlasu s ich spracúvaním
				je dobrovoľné. Súhlas môžete kedykoľvek odvolať zaslaním odvolania
				súhlasu na adresu prevádzkovateľa. Odvolanie súhlasu je účinné dňom
				jeho doručenia. <br /><br />Udelením súhlasu nie sú dotknuté
				Vaše práva dotknutej osoby. Na základe žiadosti máte právo:
				žiadať o prístup k svojim osobným údajom a o opravu, vymazanie
				alebo obmedzenie spracúvania svojich osobných údajov; namietať
				spracúvanie svojich osobných údajov; na prenosnosť osobných
				údajov; podať návrh na začatie konania na Úrade na ochranu
				osobných údajov SR. <br /><br />
				Otázky týkajúce sa ochrany osobných údajov môžete zasielať na e-mailovú
				adresu, ktorá je kontaktným údajom zodpovednej osoby.<br /><br
				/>
				V súlade so smernicou č. 2002/58 týkajúca sa spracovávania osobných
				údajov a ochrany súkromia v sektore elektronických komunikácií a
				s § 55 ods. 5 zákona NRSR č. 351/2011 Z. z. o elektronických komunikáciách
				v znení neskorších predpisov si Vás dovoľujeme informovať o používaní
				cookies a upriamiť Vašu pozornosť na možnosť zmeny nastavenia svojho
				internetového prehliadača pre prípad, že vám aktuálne nastavenie
				využívania cookies nevyhovuje.
				<br /><br />Súbory cookies sú malé textové súbory, ktoré môžu
				byť do internetového prehliadača odosielané pri návšteve
				webových stránok a ukladané do Vášho zariadenia (počítača alebo
				do iného zariadenia s prístupom na internet, ako napr.
				smartphone alebo tablet). Inak treba za súbory cookies taktiež
				považovať informatické dáta, konkrétne textové súbory,
				uchovávané v zariadeniach koncových používateľov, určené na
				používanie internetových stránok. <br /><br />Súbory cookies sa
				ukladajú do priečinka pre súbory vášho internetového
				prehliadača. Cookies obvykle obsahujú názov webovej stránky -
				domény, z ktorej pochádzajú a dátum svojho vzniku, dobu
				uchovávania na zariadení a uchovávanú hodnotu. Pri ďalšej
				návšteve stránky webový prehliadač znovu načíta súbory cookies a
				tieto informácie odošle späť webovej stránke, ktorá pôvodne
				cookies vytvorila. Nami používané súbory cookies, sú pre
				zariadenie používateľa bezpečné, nepoškodzujú ho.<br /><br />
				Na našich webových stránkach používame niekoľko typov cookies: Základné
				súbory cookies. Tieto súbory cookie tvoria základ pre prevádzku našich
				webových stránok a umožňujú používanie základných funkcií, akými
				sú napríklad zabezpečené oblasti webu alebo online platby. Základnými
				cookies sú napr. zapamätanie prihlásenia, umožnenie prístupu k zabezpečeným
				oblastiam webu bez nutnosti opätovného prihlásenia, predvyplnenie
				formulárov a pod. Bez týchto cookies nemôžeme poskytovať služby,
				ktoré tvoria základ našich stránok. Pokiaľ tieto cookies zakážete,
				nebudeme môcť zaručiť bezchybný chod stránok. Prevádzkové súbory
				cookies. Pomocou prevádzkových cookies zhromažďujeme štatistické
				informácie o tom, ako používate naše webové stránky. Tieto technické
				informácie nám napr. povedia, na ktoré časti webovej stránky ste
				klikli, ktorú stránku ste navštívili naposledy a pod. Tieto cookies
				nám slúžia na analýzu a vylepšovanie našich webových stránok z hľadiska
				obsahu, výkonu a dizajnu. Súbory cookies tretích strán. Na stránkach
				sú prepojenia a integrovaný obsah z iných webových stránok. Preto
				môžu byť počas používania našich webových stránok vytvorené súbory
				cookies, ktoré nepodliehajú kontrole. Ide napríklad o prípad, ak
				prezeraná webová stránka používa nástroj na analýzu alebo marketingovú
				automatizáciu od tretej strany (napríklad nástroje spoločností Google)
				alebo zobrazuje obsah webových stránok tretej strany, napr. YouTube
				alebo Facebook. To má za následok prijatie súborov cookie od týchto
				služieb tretích strán. Web nemôže mať kontrolu nad ukladaním ani
				prístup k týmto súborom cookie. Ak chcete vedieť, ako tieto tretie
				strany používajú súbory cookie, prečítajte sú zásady ochrany súkromia
				a zásady používania súborov cookie týchto služieb. Relačné (session)
				cookies. Sú uchovávane v zariadeniach používateľa do chvíle ukončenia
				relácie prehliadača. Informácie, ktoré sú v nich zapísané, sa vymažú
				z pamäte zariadenia vo chvíli ukončenia relácie. Trvalé cookies.
				Sú uchovávané na zariadení používateľa, až kým sa nevymažú. Ukončenie
				relácie nespôsobuje ich odstránenie. <br /><br />Účel – prečo
				používame cookies? Cookies používame s cieľom optimálne vytvárať
				a neustále skvalitňovať naše služby, prispôsobiť ich vašim
				záujmom a potrebám a zlepšovať ich štruktúru a obsah. Web
				nepoužíva údaje získané používaním cookies na kontaktovanie
				prostredníctvom pošty, elektronickej pošty alebo telefónu.<br
				/><br />
				Základné súbory cookies: Autentifikácia a udržiavanie relácie používateľa
				internetovej lokality. Správna konfigurácia vybraných funkcií internetovej
				lokality. Optimalizácia a zlepšenie efektivity poskytovaných služieb.
				Zvyšovanie spoľahlivosti internetovej lokality. Zaistenie bezpečnosti
				internetovej lokality. <br /><br />
				Prevádzkové súbory cookies: Zbieranie všeobecných a anonymných štatistických
				údajov prostredníctvom analytických nástrojov (Google Analytics,
				spoločnosťou Google LLC so sídlom 1600 Amphitheatre Parkway, Mountain
				View, CA 94043, Spojené štáty americké a Facebook Pixel, spoločnosťou
				Facebook Ireland Ltd., so sídlom 4 Grand Canal Square, Grand Canal
				Harbour, Dublin 2 Írsko).
				<br /><br />Ako môžete nastavenia cookies zmeniť? Väčšina
				internetových prehliadačov je pôvodne nastavená na automatické
				akceptovanie cookies. Toto nastavenie môžete zmeniť zablokovaním
				cookies alebo ich odmietnutím po upozornení v prípade, že sa
				majú cookies poslať do vášho zariadenia. Inštrukcie na zmenu
				cookies nájdete vo voľbe „ pomoc“ každého prehliadača. Ak
				používate rozličné zariadenia na prístup k stránkam (napr.
				počítač, smartphone, tablet), odporúčame každý prehliadač na
				každom zariadení prispôsobiť Vašim preferenciám cookies. <br
				/><br />Prečo si ponechať nastavenie cookies? Používanie cookies
				a ich povolenie vo webovom prehliadači je na vašom rozhodnutí. V
				prípade zmeny ich nastavenia však môžu mať niektoré webové
				stránky obmedzenú funkčnosť a znížený užívateľský komfort.
			</p>
		</Sha>
	</section>
</Layout>
