---



---

<nav class="w-10 h-10">
	<button
		class="group z-50 cursor-pointer group w-10 h-10 flex flex-col items-center justify-center gap-2 transition ease-in-out delay-150"
	>
		<span
			class="h-1 w-8 bg-black group-focus:rotate-[135deg] group-focus:translate-y-[4px] rounded-lg transition ease-in-out delay-150"
		></span>
		<span
			class="h-1 w-8 bg-black group-focus:rotate-[45deg] group-focus:translate-y-[-8px] rounded-lg transition ease-in-out delay-150"
		></span>
	</button>
	<ul class=" w-screen h-screen fixed top-0 left-0 z-40">
		<li><a href="index">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
	</ul>
</nav>
<script>
	const nav = document.querySelector('nav');
	const button = nav?.querySelector('button');
	const ul = nav?.querySelector('ul');

	button?.addEventListener('click', () => {
		nav?.classList.toggle('w-full');
	});
</script>
